.bg-black{background-color: black;}
.bg-orange{background-color:orange; color:aliceblue;font-weight:600;text-align:center}
.m-right{border: 2px solid orange;border-right: 2px solid white;}
.underline{width: 100px; height:2px;background-color: orangered;}
.bg-light-gray{background-color:rgba(111,111,111,0.09)}

.media img{max-width:120px; height:auto}
.underline-green{width: 70px; height:2px; background-color:lawgreen}

.card-body{text-align:center;}
.blog .media img{max-width: 200px; height: auto;}